html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet', media='screen')
    script(src='http://code.jquery.com/jquery.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  body
    .container
      h1 Login Page
      br
      form(role='form', action="/login",method="post", style='max-width: 300px;')
        .form-group
            input.form-control(type='text', name="id", placeholder='Enter Username',required='required')
        .form-group
          input.form-control(type='password', name="password", placeholder='Password',required='required')
        button.btn.btn-default(type='submit') Submit
        br
        br
        a(href='/')
          button.btn.btn-primary(type="button") Cancel
        a.text-center.new-account(href='/register') Create an account

        a(href="/auth/google") Google

